@font-face {
	font-family: 'Italiana-Regular';
	font-weight: 400;
	font-style: normal;
	src: local('Italiana-Regular'),
		url('../fonts/Italiana-Regular.woff2') format('woff2'),
		url('../fonts/Italiana-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'DMSans-Regular';
	font-weight: 400;
	font-style: normal;
	src: local('DMSans-Regular'),
		url('../fonts/DMSans-Regular.woff2') format('woff2'),
		url('../fonts/DMSans-Regular.woff') format('woff');
	font-display: swap;
}