html {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	line-height: 1;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

ul[class] {
	list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	font-size: 100%;
	font: inherit;
}

img {
	display: block;
	object-fit: cover;
	max-width: 100%;
	// object-position: 0 0;
}

input {
	margin: 0;
	padding: 0;
	outline: none;
	background-clip: padding-box;

	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
}

input[type=submit] {
	-webkit-appearance: none;
	cursor: pointer;
}

input,
button,
optgroup,
textarea,
select {
	font: inherit;
}

button {
	cursor: pointer;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}