// *Fonts* //
%i-400 {
	font-family: 'Italiana-Regular', sans-serif;
	font-weight: 400;
}

%d-400 {
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 400;
}

// *Colors* //
// $accent: #373333;

// *Inputs reset* //
// %checkbox-hidden,
// %radio-hidden {
// 	width: 1px;
// 	height: 1px;
// 	overflow: hidden;
// 	clip: rect(0 0 0 0);
// 	position: absolute;
// }

:root {
	--aml-footer-background: #000;
	// --aml-navbar-background: #fff;
	// --col1: 100px;
	// --col2: 150px;
}

// body {
// 	width: calc(var(--col1) + var(--col2));
// }