@import 'fonts';
@import 'reset';
@import 'vars';
@import 'global';
@import 'libs';

.aml-navbar {
	padding: 53px 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 238px;
	position: sticky;
	top: 0;
	z-index: 100;
	transition: all .5s;

	&__logo {
		transform: translateX(-100%);

		&.show {
			transform: translateX(0%);
		}
	}

	&.scroll-down {
		background-color: #FDFDFD;
		padding: 10px 70px;
	}

	&__menu {
		display: flex;
		align-items: center;
	}

	&__list {
		display: flex;
		align-items: center;
		margin-right: 36px;

		li+li {
			margin-left: 40px;
		}

		li {
			transform: translateY(-250%);

			&.show {
				transform: translateY(0%);
			}

			&:nth-child(1) {
				transition-delay: 0s;
			}

			&:nth-child(2) {
				transition-delay: .1s;
			}

			&:nth-child(3) {
				transition-delay: .2s;
			}

			&:nth-child(4) {
				transition-delay: .3s;
			}

			&:nth-child(5) {
				transition-delay: .4s;
			}
		}
	}

	&__cart {
		margin-top: -7px;
		position: relative;
		padding-right: 8px;
		transform: translateX(300%);

		&.show {
			transform: translateX(0%);
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: 'DMSans-Regular', sans-serif;
			font-size: 11px;
			color: #fff;
			position: absolute;
			bottom: -7px;
			right: 0;
			width: 18px;
			height: 18px;
			background-color: #000;
			border-radius: 50%;
		}
	}
}

// Works
.aml-works {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 160px;

	&__top {
		display: flex;
		justify-content: center;
		height: 100%;
	}

	&__top-inner {
		z-index: 5;
		margin-top: -48px;
		font-size: calc(30px + (142 - 30) * ((100vw - 320px) / (1920 - 320)));
		line-height: calc(20px + (120 - 20) * ((100vw - 320px) / (1920 - 320)));
		letter-spacing: -1px;
		text-align: center;
		display: inline-flex;
		flex-direction: column;

		span {
			transition-delay: .5s;
			transition: transform 1.5s, opacity 1.5s;

			&:nth-child(1) {
				position: relative;
				display: inline-block;
				transform: translateX(-50%);

				&.show {
					transform: translateX(0%);
				}

				&::after {
					position: absolute;
					content: '';
					width: calc(30px + (81 - 30) * ((100vw - 320px) / (1920 - 320)));
					height: calc(30px + (81 - 30) * ((100vw - 320px) / (1920 - 320)));
					background-image: url(../images/icons/red-star-big.svg);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					animation: 10s linear 0s normal none infinite running rotate;

					@keyframes rotate {
						0% {
							transform: rotate(0deg);
						}

						100% {
							transform: rotate(360deg);
						}
					}
				}
			}

			&:nth-child(2) {
				padding-left: 49px;
				transform: translateX(50%);

				&.show {
					transform: translateX(0%);
				}
			}
		}
	}

	&__bottom {
		display: grid;
		grid-template-columns: repeat(4, max-content);
		height: calc(250px + (1005 - 250) * ((100vw - 320px) / (1920 - 320)));
		justify-items: stretch;
		justify-content: space-between;
		max-height: 1005px;
		margin-top: -50px;
		position: relative;
		z-index: 1;

		&::after,
		&::before {
			position: absolute;
			content: '';
			width: 100px;
			height: 100px;
			border-radius: 50%;
			transform: translateX(-50%);
			z-index: -1;
			opacity: 0.2;
		}

		&::after {
			background-color: #77C9CE;
			box-shadow: 0 0 100px 100px #77C9CE;
			top: 0;
			left: 40%;
		}

		&::before {
			background-color: #B2CE77;
			box-shadow: 0 0 100px 100px #B2CE77;
			top: 20%;
			right: 40%;
		}
	}

	&__arrow-wrap {
		position: absolute;
		width: 52px;
		height: 188px;
		z-index: 50;
		top: 30vh;
		right: 5vw;
	}

	&__bottom-link {
		display: block;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-name: up-down;
		animation-timing-function: ease;

		@keyframes up-down {
			0% {
				transform: translateY(0);
			}

			50% {
				transform: translateY(-50px);
			}

			100% {
				transform: translateY(0);
			}
		}
	}

	&__bottom-item {
		img {
			margin: 0;
			display: unset;
			width: 100%;
			height: 100%;
		}

		a {
			display: block;
			position: relative;

			&:hover {
				span {
					opacity: 1;
				}
			}
		}

		span {
			opacity: 0;
			position: absolute;
			width: 90px;
			height: 90px;
			border: 2px solid #fff;
			border-radius: 50%;
			background-image: url(../images/icons/play.svg);
			background-repeat: no-repeat;
			background-position: center center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: opacity .3s;
			z-index: 5;
		}

		&:nth-child(1) {
			align-self: end;
			margin-bottom: 70px;
			max-width: 430px;
			width: 24vw;
			transform: translateX(-50%);

			&.show {
				transform: translateX(0%);
			}
		}

		&:nth-child(2) {
			position: relative;
			right: -5vw;
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto auto;
			align-content: space-between;
			max-width: 800px;
			width: 42vw;

			a {
				transform: translateY(-50%);
				transition-delay: .2;

				&.show {
					transform: translateY(0%);
				}
			}

			p {
				max-width: 490px;
				width: 27vw;
				transition: opacity 5s;
			}
		}

		&:nth-child(3) {
			position: relative;
			left: -5vw;
			align-self: end;
			z-index: 2;
			max-width: 364px;
			width: 19vw;
			transform: translateY(50%);
			transition-delay: .4;

			&.show {
				transform: translateY(0%);
			}
		}

		&:nth-child(4) {
			position: relative;
			align-self: end;
			width: 15vw;
			max-width: 288px;
			margin-bottom: 65px;
			transform: translateX(50%);
			transition-delay: .2;

			&.show {
				transform: translateX(0%);
			}
		}
	}
}

// Portfolio
.aml-portfolio {
	position: relative;
	scroll-padding-top: 100px;
	margin-bottom: 160px;
	letter-spacing: -0.01em;

	&__inner {
		max-width: 1120px;
		margin-left: auto;
		padding-left: 73px;
	}

	&__top-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 35px;
	}

	&__count {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'DMSans-Regular', sans-serif;
		font-size: 20px;
		border: 1.4px solid #000;
		border-radius: 50%;
		width: 115px;
		height: 62px;
		position: relative;
		z-index: -1;

		&::before {
			position: absolute;
			content: '';
			width: 67px;
			height: 37px;
			background-image: url(../images/noise.png);
			left: -10px;
			bottom: -7px;
			opacity: .3;
		}
	}

	&__item-inner {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			transform: translateY(100%);

			&.show {
				transform: translateY(0%);
			}
		}
	}

	&__item {
		position: relative;
		font-size: 55px;
		line-height: 110px;
		margin-bottom: 35px;
		transition: color .4s;
		padding-bottom: 35px;

		&.show {
			&::after {
				width: 100%;
			}
		}

		&::after {
			position: absolute;
			content: '';
			width: 0%;
			height: 1px;
			background-color: #ececec;
			bottom: 0;
			left: 0;
			z-index: -1;
			transition: width 2s;
		}

		span {
			font-family: 'DMSans-Regular', sans-serif;
			font-size: 15px;
			line-height: 26px;
			opacity: 0;
			transition: opacity .4s;
		}

		&:hover {
			color: #676767;

			span {
				opacity: 1;
			}

			.aml-portfolio__item-img {
				opacity: 1;
				filter: blur(0);
				transform: translate3d(0, -50%, 0);
			}
		}
	}

	&__item-img {
		display: block;
		position: absolute;
		right: 10%;
		top: 50%;
		transform: translate3d(10%, -50%, 0);
		opacity: 0;
		transition: opacity .6s, filter .6s, transform .5s;
		filter: blur(10px);
		z-index: 2;
	}

	&__view-all {
		display: inline-block;
		position: relative;
		font-size: 25px;
		line-height: 110px;

		&::after {
			position: absolute;
			content: '';
			width: 103px;
			height: 1px;
			background-color: #000;
			top: 50%;
			right: -138px;
		}
	}
}

// Imagination
.aml-imagination {
	max-width: 1900px;
	margin: 0 auto;
	padding: 0 70px;
	margin-bottom: 216px;

	&__title {
		margin-bottom: 100px;
	}

	&__items {

		display: grid;
		grid-template-columns: repeat(4, auto);
		height: calc(250px + (780 - 250) * ((100vw - 320px) / (1920 - 320)));
		grid-column-gap: 40px;
		position: relative;
		z-index: 1;

		&::after {
			position: absolute;
			content: '';
			width: 100px;
			height: 100px;
			background-color: #EEF9EF;
			border-radius: 50%;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: -1;
			box-shadow: 0 0 100px 100px #EEF9EF;
		}
	}

	&__item {
		a {
			display: block;
			transition-duration: 1.5s;
		}

		&:nth-child(1) {
			a {
				transition-delay: 1s;
			}
		}

		&:nth-child(2) {
			align-self: end;
			position: relative;
			z-index: 2;

			a {
				transition-delay: 1.5s;
			}
		}

		&:nth-child(3) {
			margin-top: 70px;

			a {
				transition-delay: .8s;
			}
		}

		&:nth-child(4) {
			a {
				transition-delay: 2s;
			}
		}
	}
}

// Creative
.aml-creative {
	margin-bottom: 217px;

	&__title-wrap {
		display: inline-block;
		padding-left: 250px;
		position: relative;

		&::after {
			position: absolute;
			content: '';
			width: 77px;
			height: 77px;
			background-image: url(../images/icons/red-star-big.svg);
			top: -44px;
			right: -49px;
			animation: 10s linear 0s normal none infinite running rotate;
		}
	}

	&__title {
		font-size: 90px;
		line-height: 80px;
		max-width: 510px;
		margin-bottom: 83px;
	}

	&__text {
		max-width: 635px;
		margin-left: auto;
		font-size: 17px;
		line-height: 28px;
		font-family: 'DMSans-Regular', sans-serif;

		p {
			margin-bottom: 39px;
			color: #676767;
		}

		a {
			display: inline-block;
			padding: 15px 67px 15px 66px;
			background-color: #3C533F;
			color: #fff;
		}
	}
}

// Quote
.aml-quote {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 211px;
	height: calc(250px + (945 - 250) * ((100vw - 320px) / (1920 - 320)));
	;

	&__left {
		background-color: #F0EFE6;
		padding-left: 60px;
		padding-right: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__images {
		display: flex;
		max-width: 735px;
		min-height: 411px;
		margin-bottom: 89px;

		a {
			&:nth-child(1) {
				margin-left: 10px;
				margin-right: 97px;
			}

			&:nth-child(2) {
				align-self: flex-end;
			}
		}
	}

	&__text {
		max-width: 490px;

		p {
			font-size: 17px;
			line-height: 28px;
			color: #676767;
			font-family: 'DMSans-Regular', sans-serif;
		}


		span {
			font-size: 30px;
			line-height: 80px;
			letter-spacing: -0.01em;
			color: #000000;
		}
	}

	&__right {
		a {
			display: block;
			position: relative;
			height: 100%;

			img {
				height: 100%;
				width: 100%;
			}

			&:hover {
				span {
					opacity: 1;
				}
			}
		}

		span {
			opacity: 0;
			position: absolute;
			width: 90px;
			height: 90px;
			border: 2px solid #fff;
			border-radius: 50%;
			background-image: url(../images/icons/play.svg);
			background-repeat: no-repeat;
			background-position: center center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: opacity .3s;
		}
	}
}

// Articles
.aml-articles {
	margin-bottom: 213px;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 100px;
	}

	&__title {
		font-size: 90px;
		line-height: 80px;
	}

	&__view-all {
		position: relative;
		padding-right: 136px;

		&::after {
			position: absolute;
			content: '';
			width: 103px;
			height: 1px;
			background-color: #000;
			top: 50%;
			right: 0;
		}

		a {
			font-size: 25px;
			letter-spacing: -0.01em;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-column-gap: 28px;
		height: calc(250px + (620 - 250) * ((100vw - 320px) / (1920 - 320)));
	}

	&__item {
		display: flex;
		flex-direction: column;

		&:nth-child(2) {
			align-self: center;
		}

		&:nth-child(3) {
			align-self: end;
		}

		a {
			display: block;
			margin-bottom: 42px;
		}

		img {
			width: 100%;
		}
	}

	&__item-name {
		font-size: 45px;
		line-height: 45px;
		letter-spacing: -0.01em;
		margin-bottom: 24px;
	}

	&__item-date {
		font-family: 'DMSans-Regular',
			sans-serif;
		font-size: 15px;
		line-height: 20px;
		color: #717171;
	}
}

// Slider
.aml-slider {
	padding-bottom: 163px;
	overflow: hidden;

	a {
		font-size: calc(25px + (90 - 25) * ((100vw - 320px) / (1920 - 320)));
		line-height: calc(35px + (106 - 35) * ((100vw - 320px) / (1920 - 320)));
		text-align: center;
	}

	&__items {
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
	}

	&__item {
		display: flex;
		justify-content: center;
	}
}

// Footer
.aml-footer {
	background-color: var(--aml-footer-background, #000);
	padding: 213px 0 15px;

	&__top-inner {
		position: relative;
		display: inline-block;

		&::before {
			position: absolute;
			content: '';
			width: 77px;
			height: 77px;
			background-image: url(../images/icons/red-star-big.svg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			right: 182px;
			bottom: 11px;
			animation: 10s linear 0s normal none infinite running rotate;
		}

		&::after {
			position: absolute;
			content: '';
			background-image: url(../images/icons/footer-arrow.svg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 197px;
			height: 197px;
			right: -250px;
			bottom: -80px;
		}
	}

	&__top {
		margin-bottom: 110px;

		h2 {
			max-width: 615px;
			color: #fff;
			font-size: calc(30px + (130 - 30) * ((100vw - 320px) / (1920 - 320)));
			line-height: calc(20px + (110 - 20) * ((100vw - 320px) / (1920 - 320)));
			letter-spacing: -0.01em;
			font-weight: 400;
		}
	}

	&__center {
		display: flex;
		align-items: center;
		margin-bottom: 190px;

		span {
			display: block;
			font-size: 19px;
			line-height: 26px;
			font-family: 'DMSans-Regular', sans-serif;
			color: #A7A7A7;
			margin-right: 142px;
			max-width: 384px;
			margin-left: 210px;
		}

		a {
			font-size: calc(20px + (74 - 20) * ((100vw - 320px) / (1920 - 320)));
			line-height: calc(30px + (110 - 30) * ((100vw - 320px) / (1920 - 320)));
			letter-spacing: -0.01em;
			color: #FFFFFF;
		}
	}

	&__bottom {
		border-top: 1px solid #D2D2D2;
		display: flex;
		justify-content: space-between;

		span {
			color: #8E8E8E;
			font-size: 16px;
			line-height: 110px;
		}
	}

	&__socials {
		color: #fff;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
		grid-column-gap: 45px;
		font-size: 20px;
		line-height: 110px;
	}
}

// Aml-typography
.aml-typography {
	&__navbar {
		background-image: url(../images/typography/navbar-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 586px;
		color: #fff;
		position: static;
		align-items: flex-start;
		display: grid;
		grid-template-columns: repeat(2, max-content);
		grid-template-rows: max-content auto;
		margin-bottom: 166px;
	}

	&__cart {
		span {
			background-color: #F93700;
		}
	}

	&__navbar-logo {
		grid-column: 1/2;
	}

	&__navbar-menu {
		grid-column: 2/3;
	}

	&__navbar-title {
		grid-column: 1/3;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 90px;
		line-height: 110px;

		h1 {
			margin-top: -5vw;
		}
	}

	&__heading-wrap {
		p {
			font-family: DM Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 26px;
			color: #676767;
			font-family: 'DMSans-Regular', sans-serif;
		}

		h1 {
			margin-bottom: 35px;
		}

		h2 {
			margin-bottom: 15px;
		}

		h3 {
			margin-bottom: 24px;
		}

		h4 {
			margin-bottom: 24px;
		}

		h5 {
			margin-bottom: 26px;
		}

		h6 {
			margin-bottom: 27px;
		}

		&:nth-child(1) {
			margin-bottom: 36px;
		}

		&:nth-child(2) {
			margin-bottom: 47px;
		}

		&:nth-child(3) {
			margin-bottom: 47px;
		}

		&:nth-child(4) {
			margin-bottom: 49px;
		}

		&:nth-child(5) {
			margin-bottom: 51px;
		}
	}

	&__content {
		padding-bottom: 180px;
	}

	&__content-inner {
		display: grid;
		grid-template-columns: auto max-content;
		grid-template-rows: auto;
		grid-column-gap: 30px;
	}
}

.widget-area {
	max-width: 344px;
}

.widget_search {
	margin-bottom: 63px;
}

.search-field {
	border: none;
	background-image: url(../images/icons/search.svg);
	background-repeat: no-repeat;
	background-position: 19px center;
	border: 1px solid #D9D9D9;
	padding: 19px 19px 19px 52px;
	max-height: 58px;
	cursor: none;
	font-family: 'DMSans-Regular',
		sans-serif;
	font-size: 16px;
	color: #676767;
}

h5.widget-title {
	margin-bottom: 25px;
}

.widget_categories {
	margin-bottom: 50px;

	ul {
		list-style: none;
		@extend %d-400;
		font-size: 17px;
		color: #676767;

		li+li {
			margin-top: 30px;
		}

		li {
			transition: color .3s;

			&:hover {
				color: #000;
			}
		}
	}
}

.widget_recent_posts {
	margin-bottom: 58px;

	ul {
		list-style: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-row-gap: 30px;
		margin-bottom: 50px;
	}

	li {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;
		grid-column-gap: 20px;
		align-items: center;
	}

	li+li {
		padding-top: 30px;
		border-top: 1px solid #D9D9D9;
	}

	img {
		max-width: 90px;
	}
}

.recent-post-content {
	span {
		display: block;
		@extend %d-400;
		font-size: 15px;
		color: #919191;
		margin-bottom: 10px;
	}
}

.recent-post-more {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.01em;
	position: relative;
	display: inline-block;

	&::after {
		position: absolute;
		content: '';
		width: 53px;
		height: 1px;
		background-color: #000;
		top: 50%;
		transform: translateY(-50%);
		right: -69px;
	}
}

.widget_tag_cloud {
	margin-bottom: 63px;
}

.wp-tag-cloud {
	// display: grid;
	// grid-template-columns: repeat(3, auto);
	// grid-template-rows: auto;
	// grid-gap: 10px;
	display: flex;
	flex-wrap: wrap;

	li {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	a {
		display: flex;
		padding: 5px 18px;
		background-color: #F0F0F0;
		text-transform: uppercase;
		transition: color .3s, background-color .3s;
		font-size: 14px;
		letter-spacing: 0.2em;

		&:hover {
			background-color: #3C533F;
			color: #fff;
		}
	}
}

.widget_aml_social {
	ul {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(4, max-content);
		grid-column-gap: 10px;
	}

	a {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		border: 1px solid #D9D9D9;

		path {
			fill: #000;
			transition: fill .3s;
		}

		&:hover {
			path {
				fill: #03A9F4;
			}
		}
	}

}